name: CI Pipeline

on: [push]

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run unit tests
        run: |
          pip install -r requirements.txt
          python -m pytest tests/unit_tests/ -v --junitxml=unit-results.xml
      - name: Upload unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: unit-results.xml

  functional_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install webdriver-manager
      - name: Start Flask app
        run: |
          python app.py &
          sleep 5
      - name: Run functional tests
        run: |
          python -m pytest tests/functional_tests/ --url=http://localhost:5000 -v --junitxml=functional-results.xml
      - name: Upload functional test results
        uses: actions/upload-artifact@v4
        with:
          name: functional-test-results
          path: functional-results.xml

  build_and_push:
    runs-on: ubuntu-latest
    needs: [unit_tests, functional_tests]
    steps:
      - uses: actions/checkout@v4
      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/web-calculator:${{ github.sha }} .
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/web-calculator:${{ github.sha }}
      - name: Save Docker image
        run: |
          docker save ${{ secrets.DOCKER_USERNAME }}/web-calculator:${{ github.sha }} -o web-calculator-image.tar
      - name: Upload Docker image
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: web-calculator-image.tar

  deploy:
    needs: [build_and_push]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Production Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/my-app/web-calculator-ci/blue-green-deployment
            docker-compose down
            docker-compose pull
            docker-compose up -d